{% extends "admin/base_site.html" %}

{% block content %}
  <div id="content-main">
    <form method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      <fieldset class="module aligned">
        {% for field in form %}
          <div class="form-row">
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
              <div class="help">{{ field.help_text }}</div>
            {% endif %}
          </div>
        {% endfor %}
      </fieldset>
      <div class="submit-row">
        <input type="submit" value="导入 Markdown" class="default">
        <a href="{% url 'admin:articles_article_changelist' %}">返回新闻条目</a>
      </div>
    </form>
  </div>
{% endblock %}
